{% load static %}

<link rel="stylesheet" href="{% static 'styles/footer.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<footer>
   <div class="footer-icons">
    <a href="https://www.facebook.com/profile.php?id=61556601659384" target="_blank">
        <i class='fa-brands fa-facebook-f'></i>
    </a>
    <a href="https://www.instagram.com/mundopugna/" target="_blank">
        <i class='fa-brands fa-instagram'></i>
    </a>
    <a href="https://twitter.com/MundoPugna" target="_blank">
        <i class='fa-brands fa-x-twitter'></i>
    </a>
    </div>
    <p>Derechos de autor ™ 2024 Mundo Pugna</p>
</footer>